
<div class="tags-container category-container">
  <h4 class="category-item-name"><i class="iconfont icon-folder"></i><%=page.category%></h4>
  <% page.posts.each(function(article) { %>
    <div class="category-item">
      <% if (article.link) { %>
        <a href="<%=url_for(article.link)%>" target="_blank">
          <time datetime="<%=date_xml(article.date)%>">
            <%=date(article.date)%>
          </time>
          <span class="category-title"><%=article.title || 'No Title'%></span>
        </a>
      <% } else { %>
        <a href="<%=url_for(article.path)%>">
          <time datetime="<%=date_xml(article.date)%>">
            <%=date(article.date)%>
          </time>
          <span class="category-title"><%=article.title || 'No Title'%></span>
        </a>
      <% } %>
    </div>
  <% }); %>
</div>
