<!DOCTYPE html>
<html lang="en">
<%- partial('_partials/head') %>
<body>
  <div class="mobile-header">
    <span><i class="iconfont icon-turnon" id="mobile-nav-toggle"></i></span>
    <div class="mobile-logo">
      <a href="<%= url_for('.') %>"><%= theme.logo %></a>
    </div>
  </div>
  <div class="page" id="mobile-nav-panel">
    <div class="container">
      <%- partial('_partials/header') %>
      <%- partial('_partials/banner') %>
      <main class="main"id="main">
          <%- body %>
          <%- partial('_partials/pagination') %>
          <%- partial('_partials/comments') %>
      </main>
    </div>
    <%- partial('_partials/footer') %>
    <div class="back-to-top" id="back-to-top">
      <i class="iconfont icon-up"></i>
    </div>
  </div>
  <%- partial('_partials/slideout') %>

  <%- js('libs/jQuery/jquery-3.2.1.min.js') %>
  <%- js('libs/slideout/slideout.min.js') %>
  <% if (theme.fancybox){ %>
    <%- css('libs/fancybox/jquery.fancybox.css') %>
    <%- js('libs/fancybox/jquery.fancybox.pack.js') %>
  <% } %>
  <%- partial('_widget/leancloud') %>
  <%- js('js/ztopic.js') %>
</body>
</html>
