<header class="site-nav">
      <div class="nav-content">
        <div class="logo">
          <a href="<%- url_for(theme.menu["home"]) %>"><%= theme.logo %></a>
        </div>
        <nav class="navbar">
          <ul>
            <% for (const [key, value] of Object.entries(theme.menu)) { %>
              <li class="menu-item">
                <a href="<%- url_for(value) %>" class="menu-item-link"><i class="iconfont icon-<%= key %>"></i><%= __('menu.' + key) %></a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
</header>
