<footer>
      <div class="social-links">
        <% for(name in theme.social){ %>
          <% if(theme.social[name]){ %>
            <a href="<%- url_for(theme.social[name])%>"><i class="iconfont icon-<%= name %>"></i></a>
          <% } %>
        <% } %>
      </div>
      <% if(theme.quote && theme.quote.length){ %>
        <div class="quote">
          <p><%= theme.quote %></p>
        </div>
      <% } %>
      <div class="copyright">
        <p>
          <%- __('footer.powered','<a href="https://hexo.io/">Hexo</a>') %>
          <span>|</span>
          <%- __('footer.theme') %> - <a href="https://github.com/wa-ri/hexo-theme-ztopic">ztopic</a
        </p>
        <p>
          <span>
          <% var current = date(Date.now(),'YYYY') %>
          &copy;
          <% if(theme.since && theme.since != current){ %>
            <%= config.since %> - <%= current %>
          <% }else{ %>
            <%= current %>
          <% } %>
          </span>
          <i class="iconfont icon-circle"></i>
          <span><%= config.author %></span>
        </p>
      </div>
</footer>
