<div id="giscus_thread">
  <h2 class="title">
    <% if(theme.giscus.comment_name){ %>
      <%= theme.giscus.comment_name %>
    <% } %>
  </h2>
  <div class="giscus"></div>
</div>

<script src="https://giscus.app/client.js"
        data-repo="<%= theme.giscus.repo %>"
        data-repo-id="<%= theme.giscus.repo_id %>"
        data-category="<%= theme.giscus.category %>"
        data-category-id="<%= theme.giscus.category_id %>"
        data-mapping="<%= theme.giscus.mapping %>"
        data-strict="<%= theme.giscus.strict %>"
        data-reactions-enabled="<%= theme.giscus.reactions_enabled %>"
        data-emit-metadata="<%= theme.giscus.emit_metadata %>"
        data-input-position="<%= theme.giscus.input_position %>"
        data-theme="<%= theme.giscus.theme %>"
        data-lang="<%= theme.giscus.lang %>"
        data-loading="<%= theme.giscus.loading %>"
        crossorigin="anonymous"
        async>
</script>
