<div id="valine_thread">
  <p class="v_name">
    <% if(theme.valine.comment_name){ %>
      <%= theme.valine.comment_name %>
    <% } %>
  </p>
  <div id="valine_comments"></div>
</div>

<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>

<script>
  var notify = '<%= theme.valine.notify %>' == true ? true : false;
  var verify = '<%= theme.valine.verify %>' == true ? true : false;
  var GUEST_INFO = ['nick','mail','link'];
  var guest_info = '<%= theme.valine.guest_info %>'.split(',').filter(function(item){
    return GUEST_INFO.indexOf(item) > -1
  });
  guest_info = guest_info.length == 0 ? GUEST_INFO : guest_info;
  new Valine({
    el: '#valine_comments',
    notify: notify,
    verify: verify,
    appId: "<%= theme.valine.app_id %>",
    appKey: "<%= theme.valine.app_key %>",
    avatar: "<%= theme.valine.avatar %>",
    placeholder: "<%= theme.valine.placeholder %>",
    guest_info: guest_info,
    pageSize:"<%= theme.valine.pageSize %>"
  });
  var valine = document.getElementById("valine_comments");
  var mail = valine.getElementsByClassName("vmail")[0];
  var link = valine.getElementsByClassName("vlink")[0];
  mail.setAttribute("placeholder","邮箱(方便我回复你)");
  link.setAttribute("placeholder","个人博客(http:// 选填)");
</script>
